.text1 {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-right: 20px;
    margin-left: 20px;
}

.text2 {
    margin-top: 0px;
    margin-bottom: 100px;
    margin-right: 40px;
    margin-left: 40px;
}
