.inputStyle {
    margin: 5ex 5ex 5ex 5ex;
    size: 20px !important;
}

.divs{
   display: inline-block;
   border: 1px;
  margin:10px;
}

.label {
  width:150px;
  /* background:#f7f7f7; */
  display:inline-block;
  text-align:center;
}
.input {
  width:200px;
  display:inline-block;
}
.output {
  width:50px;
  /* background:#d7d7d7; */
  display:inline-block;
}
/*
.myCanvas{
  height: 50px;
  width: 50px;
} */
