element.style {
}

.header {
  padding: 60px;
  text-align: center;
  background: #6DAFFE;
  color: white;
  font-size: 30px;
}
.h1-header{
  font-family: 'Permanent Marker', cursive;

}
.content {
  padding:20px;
  background:  #EDF6FF;
}

#startBtn {
  margin: 0;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 10%);
}
