element.style {
}

.home-banner {
    background: url(shared/bg-green.gif) repeat;
    padding: 2em 0;
}
.home-banner {
    text-align: center;
    color: black;
}
#startBtn {
  margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
