body {
background-color:  #FFFFFF;
text-align: center;
}

.logo img{
  float:left;
  width:48px;
  height:48px;
}


.topnav {
  overflow: hidden;
  background: #437FC7;
}

.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
