body {
background-color:  #B5C1B4;
text-align: center;
font-family: 'Special Elite', cursive;

}

.logo img{
  float:left;
  width:48px;
  height:48px;
}


.topnav {
  overflow: hidden;
  background: #43464B;
}

.topnav a {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.myButtons{
  position:relative;
  margin-top:100px;
  margin-bottom:100px;
}
