body {
text-align: center;
font-family: 'Special Elite', cursive;
background-image: url('../Images/Pizza.png');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
p{
  font-size: 20px;
  /* background-color: grey;
  opacity: 0.8; */
  background: rgba(212, 206, 200, 0.3);
}
.header {
  padding: 60px;
  text-align: center;
  /* background: #74593D; */
  color: white;
  font-size: 30px;
  /* background: rgba(212, 206, 200, 0.3); */
}
.h1-header{
  font-family: 'Permanent Marker', cursive;

}
.content {
  /* background: rgba(212, 206, 200, 0.3); */
  padding:20px;
  /* background:  #DCD9C6; */
}

#startBtn {
  margin: 0;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, 10%);
}
